@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.formControl{
    width: 30% !important;
    padding: 9px !important;
    margin-bottom: 30px !important;
    border-radius: 2%;
    background-color: #fff;
    text-decoration-color: #000;   
    
}

.label_world{
    background-color: transparent !important;
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}