@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.container
{
    display: flex;
    justify-content: center;
    width: 85%;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 770px) {
    .container {
        width: 100%;

    }
}
