@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    background-color: black;
    width:90%;
    margin:auto;
    min-width:100%;
    max-width:100%;
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: inherit;
    flex-direction: column;
}
.image {
    display: block;
    width: 370px;
    margin: 40px auto;
}
@media (max-width: 770px) {
    .container
    {
        margin: 0 10%;
    }
    .image{
        width: 100%;
    }

}

